{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
    <div class="container">
        <div class="form login-form">
            <!--Flash message-->
            {% for message in get_flashed_messages() %}
                <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            {% endfor %}
            <!-- Login Form -->
            {{ wtf.quick_form(login_form)}}
            <a href="{{url_for('auth.register')}}" style="float: right; color: #FF3500;">Don't have an account? Sign Up here.</a>
        </div>
    </div>
{% endblock %}