{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block styles %}
{{ super() }}
<!-- Custom CSS-->
<link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
{% endblock %}

{% block content %}
    <div class="container-fluid comment-body">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="container col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h2 class="text-center font-weight-bold text-capitalize">{{ blog_content.blog_title }}</h2>
                    </div>
                    <div class="card-body blog-content">
                        {{ blog_content.blog }}
                    </div>
                    <div class="card-footer">
                        <span class="text-right" style="float: right;">
                            {{ blog_content.upvotes }}
                            <a href="{{url_for('main.upvote', id=blog_content.blog_id)}}" style="color: green"
                                class="btn btn-light"><i class="fas fa-thumbs-up"></i></a>
                            &nbsp;|&nbsp;
                            {{ blog_content.downvote}}
                            <a href="{{url_for('main.downvote', id=blog_content.blog_id)}}" style="color: red;"
                                class="btn btn-light"><i class="fas fa-thumbs-down"></i></a>
                            &nbsp;
                        </span>
                        <hr>
                        <h2>Comments</h2>
                        <div class="card">
                            <div class="card-header">
                                <h3>Add comment</h3>
                            </div>
                            <div class="card-body comment-form">
                                {{ wtf.quick_form(comment_form) }}
                            </div>
                            <div class="card-footer blog-comments">
                                <h2>Previous Comments</h2>
                                <div class="container-fluid comments" style="margin-bottom: 20px;">
                                    {% for cmnt in comments %}
                                        <div class="card">
                                            <div class="card-body">
                                                {{ cmnt.comment | truncate(30) }}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
{% endblock %}