{% extends 'base.html' %}

{% block content %}
    <head>
        <script>
            alert("Welcome to Andika! Kindly login to avoid page functionality errors.")
        </script>
    </head>
    <div class="container-fluid">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
            <h1 class="display-3">Error! Page Not Found</h1>
            <p class="lead">Sorry! The resource you are looking for cannot be found. Please try again later or contact the admin</p>
            </div>
        </div>
    </div>
{% endblock %}