{% extends 'base.html' %}
{% import 'macros.html' as macro %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block content %}
<container class="container-fluid">

    <div class="random-quote text-center">
        ~ {{ quote_store }} ~
    </div>
    <hr>

    <div class="container-fluid">
        <div class="container">
            <div class="latest-blogs">
                <div class="most-recent">
                    {% if blog_latest %}
                        <h2>Latest</h2>
                        <div class="card">
                            <div class="card-header text-center font-weight-bold text-capitalize">
                                {{blog_latest.blog_title}}
                            </div>
                            <div class="card-body">
                                {{blog_latest.blog | truncate(150)}}
                            </div>
                            <div class="card-footer">
                                <a href="{{url_for('main.comment', user = current_user.id, id=blog_latest.blog_id)}}"
                                    class="btn" style="background-color: #FF3500; color: white !important;">View</a>
                            </div>
                        </div>
                    {% else %}
                        <div class="container">
                            <div class="jumbotron jumbotron-fluid">
                                <div class="container">
                                    <h1 class="display-3">New App!</h1>
                                    <p class="lead">Enter Blog to initialize app</p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="other-recent">
                    <div class="card">
                        <div class="card-header">
                            <h2>Most Recent</h2>
                        </div>
                        <div class="card-body">
                            <ul>
                                {% for blog in latest_blogs %}
                                {%- if loop.index < 6 %}
                                <li><a href="{{url_for('main.comment', user = current_user.id, id=blog.blog_id)}}"
                                        style="color: #FF3500;">{{ blog.blog_title  }}</a></li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <h1 class="text-center">Browse Blogs</h1>
        <hr>
        <div class="blog-disp">
            {%for oneItem in blog %}
            <div class="card blog-display">
                <div class="card-header text-center font-weight-bold text-capitalize">
                    {{ oneItem.blog_title }}
                </div>
                <div class="card-body">
                    <p class="card-text text-center">{{oneItem.blog | truncate(250) }}</p>
                    <div class="card-footer">
                        <span class="text-left" style="float: left;">
                            <a href="{{url_for('main.comment', user = current_user.id, id=oneItem.blog_id)}}"
                                class="btn btn-link" style="background-color: #FF3500; color: white !important;">View
                                Article</i></a>
                        </span>
                        <span class="text-right" style="float: right;">
                            {{ oneItem.upvotes }}
                            <a href="#" style="color: green" class="btn btn-light"><i class="fas fa-thumbs-up"></i></a>
                            &nbsp;|&nbsp;
                            {{ oneItem.downvote}}
                            <a href="#" style="color: red;" class="btn btn-light"><i class="fas fa-thumbs-down"></i></a>
                            &nbsp;
                        </span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</container>
{% endblock %}